@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}

#root {
  font-family: "Itim", cursive;
}

@layer utilities {
  .pause{
    animate-play-state: pause
  }
}

.itim-regular {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}
